<li>
  <%= gravatar_for user, size: 50, class: "img-circle" %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "delete", user, class: "btn btn-danger btn-xs pull-right",
                                method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>
